body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("ImagenesRef/israelruleta.jpg");
        background-size : cover;
	background-position : center;
	background-repeat : no-repeat;




	background-image: url("ImagenesRef/israelruleta.jpg");
	background-size: cover; 
	background-position: center;
	background-repeat: no-repeat;
}

h1{
        background-color: rgba(0, 0, 0, 0.6);
	color: white;
	padding: 20px;
	display: inline-block;
	border-radius: 8px;



	text-align: center;
	background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
	background-clip : text;
	-webkit-background-clip: text;
	color : transparent;
	font-size: 48px;
}
